# Joining Data

## Table Relationships & Keys

### üî∏ What is a Primary Key?
- Uniquely identifies each row.
- Cannot be NULL.
- Ensures each row is independently addressable.

In [ ]:
CREATE TABLE customer (
  customer_id SERIAL PRIMARY KEY,
  name TEXT NOT NULL
);

### üî∏ What is a Foreign Key?
- A column that references another table‚Äôs primary key.
- Ensures relational integrity between tables.

In [ ]:
CREATE TABLE rental (
  rental_id SERIAL PRIMARY KEY,
  customer_id INT REFERENCES customer(customer_id)
);

### üî∏ Types of Relationships
| Type             | Example                                | Use Case                              |
|------------------|----------------------------------------|----------------------------------------|
| One-to-One       | user ‚Üí profile                         | Each user has one profile              |
| One-to-Many      | customer ‚Üí rental                      | A customer can have many rentals       |
| Many-to-Many     | film ‚Üî actor (via film_actor)          | A film has many actors, actors in many films |

In [ ]:
CREATE TABLE film_actor (
  film_id INT REFERENCES film(film_id),
  actor_id INT REFERENCES actor(actor_id),
  PRIMARY KEY (film_id, actor_id)
);

## Joining Tables

### üî∏ Sample Tables

#### Table A: `customers`

In [ ]:
CREATE TABLE customers (
  id INT,
  name TEXT
);

INSERT INTO customers (id, name) VALUES
(1, 'Alice'),
(2, 'Bob'),
(3, 'Charlie');

#### Table B: `orders`

In [ ]:
CREATE TABLE orders (
  id INT,
  customer_id INT,
  product TEXT
);

INSERT INTO orders (id, customer_id, product) VALUES
(101, 1, 'Book'),
(102, 2, 'Pen'),
(103, 4, 'Notebook');

### üî∏ INNER JOIN
**Only matching rows in both tables (customer exists and made order)**

![Inner Join Diagram](images/inner.png)

In [ ]:
SELECT c.id, c.name, o.product
FROM customers AS c
INNER JOIN orders o ON c.id = o.customer_id;

### üî∏ LEFT JOIN
**All customers, with orders if they exist**

![Left Join Diagram](images/left.png)

In [ ]:
SELECT c.id, c.name, o.product
FROM customers c
LEFT JOIN orders o ON c.id = o.customer_id;

### üî∏ RIGHT JOIN
**All orders, with customers if they exist**

![Right Join Diagram](images/right.png)

In [ ]:
SELECT c.id, c.name, o.product
FROM customers c
RIGHT JOIN orders o ON c.id = o.customer_id;

### üî∏ FULL OUTER JOIN
**All customers and all orders, match when possible**

![Full Outer Join Diagram](images/full.png)

In [ ]:
SELECT c.id, c.name, o.product
FROM customers c
FULL OUTER JOIN orders o ON c.id = o.customer_id;

### üî∏ CROSS JOIN
**All possible combinations of customers and orders**

![Cross Join Diagram](images/cross.png)

In [ ]:
SELECT c.name, o.product
FROM customers c
CROSS JOIN orders o;

## UNION and UNION ALL

### üî∏ What is UNION?
Combines results of two SELECT queries and removes duplicates.

In [ ]:
SELECT first_name FROM customer
UNION
SELECT name FROM staff;

### üî∏ What is UNION ALL?
Combines results and **includes duplicates**.

In [ ]:
SELECT first_name FROM customer
UNION ALL
SELECT name FROM staff;

### üìù Rules for UNION and UNION ALL:
- Number of columns must match
- Data types should be compatible
- `UNION` removes duplicates, `UNION ALL` is faster and keeps all rows