# Data Definition Language

## Table Management

### üî∏ PostgreSQL Data Types

| Type          | Description                                  | Example                         |
|---------------|----------------------------------------------|----------------------------------|
| `SMALLINT`    | Small integers (-32k to 32k)                 | `age SMALLINT`                  |
| `INTEGER`     | Standard integers                            | `count INTEGER`                 |
| `SERIAL`      | Auto-incrementing integer                    | `id SERIAL PRIMARY KEY`         |
| `VARCHAR(n)`  | Variable-length string with limit            | `email VARCHAR(100)`            |
| `CHAR(n)`     | Fixed-length string                          | `country_code CHAR(2)`          |
| `TEXT`        | Unlimited-length string                      | `description TEXT`              |
| `BOOLEAN`     | TRUE, FALSE, NULL                            | `is_active BOOLEAN`             |
| `NUMERIC(p,s)`| Exact decimal (e.g. money)                   | `price NUMERIC(10, 2)`          |
| `DATE`        | Calendar date                                | `birth_date DATE`               |
| `TIMESTAMP`   | Date and time                                | `created_at TIMESTAMP`          |
| `UUID`        | Unique identifier                            | `token UUID`                    |
| `JSONB`       | Binary JSON storage                          | `settings JSONB`                |
| `ARRAY`       | PostgreSQL arrays                            | `tags TEXT[]`                   |

In [ ]:
CREATE TYPE status AS ENUM ('active', 'inactive', 'banned');

### üî∏ Creating Tables with Constraints

In [ ]:
CREATE TABLE employee (
  id SERIAL PRIMARY KEY,
  name VARCHAR(100) NOT NULL,
  email TEXT UNIQUE,
  department_id INT REFERENCES department(id)
);

### üî∏ NULL vs NOT NULL
- `NOT NULL`: must be filled (e.g., critical fields like `email`).
- `NULL`: optional (e.g., `comment`).

### üî∏ ALTER TABLE

In [ ]:
ALTER TABLE employee ADD COLUMN salary NUMERIC;

In [ ]:
ALTER TABLE employee ALTER COLUMN salary TYPE INTEGER;

In [ ]:
ALTER TABLE employee DROP COLUMN salary;

### üî∏ RENAME TABLE / COLUMN

In [ ]:
ALTER TABLE employee RENAME TO staff;

In [ ]:
ALTER TABLE staff RENAME COLUMN name TO full_name;

## Views and Virtual Tables

**Why use views?**
- üß© Abstract complexity
- üîê Enforce access control
- üîÑ Reusability for reporting or repeated queries

In [ ]:
CREATE VIEW active_customers AS
SELECT customer_id, first_name, last_name
FROM customer
WHERE active = TRUE;

In [ ]:
SELECT * FROM active_customers;

In [ ]:
DROP VIEW active_customers;