# Introduction to SQL (Structured Query Language)

## SQL Basics (DDL, DML, DCL)

- üèóÔ∏è **DDL**: Define database schema 
  - `CREATE`
  - `ALTER`
  - `DROP`
- ‚úçÔ∏è **DML**: Manipulate data 
  - `SELECT`
  - `INSERT`
  - `UPDATE`
  - `DELETE`
- üîê **DCL**: Manage permissions 
  - `GRANT`
  - `REVOKE`

## Working with Data (SELECT Queries)

### Selecting & Sorting Data

**How can we show all customers?**

In [ ]:
SELECT * FROM customer;

**How to show only the first and last names of customers?**

In [ ]:
SELECT first_name, last_name FROM customer;

**How can we find unique cities from addresses?**

In [ ]:
SELECT DISTINCT district FROM address;

**How to display only the first 5 films?**

In [ ]:
SELECT * FROM film LIMIT 5;

**How to paginate results to show the next 5 films after the initial 5?**

In [ ]:
SELECT * FROM film LIMIT 5 OFFSET 5;

**How do we sort film titles in descending order?**

In [ ]:
SELECT title FROM film ORDER BY title DESC;

### Filtering Data

**How to find customers belonging only to store number 1?**

In [ ]:
SELECT * FROM customer WHERE store_id = 1;

**How can we find films rated 'PG' that cost less than $3?**

In [ ]:
SELECT title FROM film WHERE rating = 'PG' AND rental_rate < 3;

**How to list all films whose titles start with the letter 'A'?**

In [ ]:
SELECT title FROM film WHERE title LIKE 'A%';

**How to find all customers excluding those belonging to store number 2?**

In [ ]:
SELECT * FROM customer WHERE store_id NOT IN (2);

### Aggregating Data & Custom Output

**How can we calculate the total rental cost for each film?**

In [ ]:
SELECT title, rental_rate * rental_duration AS total_cost FROM film;

**What is the average rental price of all films?**

In [ ]:
SELECT AVG(rental_rate) FROM film;

**How many films are there per rating category?**

In [ ]:
SELECT rating, COUNT(*) FROM film GROUP BY rating;

**How to show only rating categories that contain more than 200 films?**

In [ ]:
SELECT rating, COUNT(*) FROM film GROUP BY rating HAVING COUNT(*) > 200;

### Subqueries (Extra Topic)

**How to find films with rental rates above the average rental rate?**

In [ ]:
SELECT title, rental_rate
FROM film
WHERE rental_rate > (
  SELECT AVG(rental_rate) FROM film
);

**How to find the customer(s) with the highest number of rentals?**

In [ ]:
SELECT customer_id, COUNT(*) AS total_rentals
FROM rental
GROUP BY customer_id
HAVING COUNT(*) = (
  SELECT MAX(rental_count)
  FROM (
    SELECT customer_id, COUNT(*) AS rental_count
    FROM rental
    GROUP BY customer_id
  ) AS rental_counts
);